.linkContainer {
	width: 96px;
	height: 24px;
	margin-left: 24px;
}

.bannerLink {
	position: relative;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	text-decoration: none;
	color: #262633;
}

.bannerLink::after {
	content: "";
	position: absolute;
	width: 1%;
	display: block;
	height: 1.5px;
	background-color: #262633;
}

.bannerLink::before {
	content: "";
	position: absolute;
	display: block;
	width: 70%;
	height: 1.5px;
	bottom: 0;
	margin-bottom: -2px;
	left: 0;
	background-color: #262633;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.2s ease;
}

.bannerLink:hover::before {
	transform: scaleX(1);
}

.linkContent {
	display: inline;
}

.arrowIcon {
	width: 16px;
	height: 16px;
	padding-left: 8px;
}

@media (min-width: 376px) {
	.linkContainer {
		margin-left: 0px;
	}
}
