.bannerContainer {
	min-width: fit-content;
	position: relative;
	margin-left: 81px;
	padding: 60px 40px 60px 294px;
	border-radius: 4px;
	background-color: #8ecdd1;
}

.bannerImage {
	position: absolute;
	width: 294px;
	height: auto;
	left: -81px;
	top: 57px;
	border-radius: 4px;
}

.bannerTitle {
	width: 527px;
	height: 22px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.bannerContent {
	width: 486px;
	height: 96px;
	margin: 13px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}

.bannerLinkContainer {
	width: 76px;
	height: 24px;
}

.bannerLink {
	position: relative;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	text-decoration: none;
	color: #262633;
}

.bannerLink::after {
	content: "";
	position: absolute;
	width: 1%;
	display: block;
	height: 1.5px;
	background-color: #262633;
}

.bannerLink::before {
	content: "";
	position: absolute;
	display: block;
	width: 80%;
	height: 1.5px;
	bottom: 0;
	margin-bottom: -4px;
	left: 0;
	background-color: #262633;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.2s ease;
}

.bannerLink:hover::before {
	transform: scaleX(1);
}

.arrowIcon {
	width: 16px;
	height: 16px;
}
